.about{

padding:120px 10%;

display:grid;

grid-template-columns:1fr 1fr;

gap:70px;

align-items:center;

}

.section-tag{

color:#8b5cf6;

letter-spacing:2px;

}

.about h2{

font-size:3rem;

margin:20px 0;

}

.about p{

color:#bdbdbd;

line-height:1.8;

}

.about-cards{

display:flex;

flex-direction:column;

gap:25px;

}

.about-card{

padding:30px;

border-radius:20px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(20px);

transition:.3s;

}

.about-card:hover{

transform:translateY(-8px);

}

@media(max-width:900px){

.about{

grid-template-columns:1fr;

}

}